# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\sem2\PI\square\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
